# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MovementTry.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Facultate\A3S2\GD\Movement\MovementTry\.idea\.idea.MovementTry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
